@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

.textBox {
    padding:6px 13px;
    font-size:20px;
    font-family: "Source Sans Pro";
    width:300px;
    border:2px solid #1f2f47;
    display:block;
    background-color:#ffffff;
    resize: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    border-radius:50px;
}

.logo {
    width:300px;
    margin-top: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
} 

.result {
    text-align: center;
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	color:#0e0e0e;
    font-family: "Source Sans Pro";
	font-size:20px;
	padding:8px 12px;
	text-decoration:none;
    width:140px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: 20px;
}

.button {
    background-color:#000000;
    border: 0;
	border-radius:50px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: "Source Sans Pro";
	font-size:20px;
	padding:8px 12px;
	text-decoration:none;
    width:130px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: 20px;
}
.button:hover {
	background-color:#666666;
}
.button:active {
	position:relative;
	top:1px;
}